{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Despliegue de django en la nube</h1>
        </div>
    </div>
{% endblock %}